<h3 style="background: rgba(255, 213, 128, 0.3); width: 80%;"> User Profile: <%= user.name %> : <span style="color: #FF4433; font-size: 12px;"> Number of Posts: <%= user.posts_counter %> </span></h3>
<div style="background: rgba(255, 213, 128, 0.1); width: 80%; padding: 10px; margin: 5px; border-radius: 5px;">
  <h3>Bio: </h3>
  <p> <%= user.bio %></p>
</div>

<% posts.each do |post| %>
  <div style="background: rgba(255, 213, 128, 0.1); width: 80%;" padding: 10px; margin: 5px; border-radius: 5px;%>
    <h3>Post &#35;<%=post.id %> </h3>
    <p> <%= post.text %> <span style="color: #FF4433;">Comments: <%= post.comments_counter %> </span> <span style="color: #FF4433;">Likes: <%= post.likes_counter %> </span> </p>
  </div>
 <% end %>

