<div class="post-form">
<%= form_with model: post, url: user_posts_path, method: :post, local: true, scope: :post do |f| %>
  <div>
     <%= f.label :title, class: "title-label" %>
     <%= f.text_field :title, placeholder: "Your post's title here...", class: "post-title" %>
  <div>
  <div>
     <%= f.text_area :text, placeholder: "Type your post here..",  class: "post-content" %>
  </div>
  <div>
    <%= f.submit class: "btn"%>
  </div>
<% end %>
</div>
