<h3 style="color: #FF4433;">User Post</h3>
<div class="container">
  <div class="post"> 
     <div class="post-header">
       <h3>Post &#35;<%=@post.id %> by <%= @user.name %></h3>
       <p class = "profile-stats"><span class= "comments-stats">Comments: <%= @post.comments_counter %></span><span class= "likes-stats">Likes:<%= @post.likes_counter %> </span></p>
     </div>
     <p> <%= @post.text %> </p>
  </div>
  <div class= "posts-comment"> 
     <% @post_comments.each do |comment| %>
      <% @post_users.each do |user| %>
       <% if comment.post_id == @post.id && user.id == comment.user_id %>
        <p style= "color: #900C3F; padding: 5px;">
         <%= user.name %>  
         <%= comment.text %> 
        </p>
       <% end %>
     <% end %>
    <% end %>
  </div>
</div>