<h3 style="color: #FF4433;">User Post</h3>
<p> Your Post data: <table>
<tr><th>Name User ID </th><th>Title </th><th>Content </th> <th>Commnets</th><th>Likes</th></tr> 
 <tr>
 <td><%= @post[:user_id] if @post %> </td>
 <td><%= @post[:title]  if @post %> </td>
 <td><%= @post[:text]  if @post %> </td>
 <td><%= @post[:comments_counter]  if @post %> </td> 
 <td><%= @post[:likes_counter] if @post %> </td> 
 </tr>
</table>
 </p>
<p> Current Post: <%= @post[:title]  if @post %> </p>
<p>  Content : <%= @post[:text] if @post %>  </p>
<p>  PARAMS Data : <%= @values %> </p>